@import "https://fonts.googleapis.com/css2?family=Ubuntu&display=swap%22";

body {
  font-size: 12px;
  font-family: sans-serif;
  background: #442c50;
  background-color: #222;
}

#logo {
  width: 200px;
  position: relative;
}

p {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
  color: white;
}

#myb {
  margin-left: 25%;
  margin-top: 7%;
  position: fixed;
}
