@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: bluetea;
  src: url("../fonts/Nunito.ttf");
}

.text-shadow-2 {
  text-shadow:
    -2px 2px 0 #000,
    2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000;
}

.text-shadow-1 {
  text-shadow:
    -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

.custom-shape-divider-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

@font-face {
  font-family: bluetea;
  src: url("../fonts/Bluetea.ttf");
}

@font-face {
  font-family: Quicksand;
  font-weight: 400;
  src: url("../fonts/Quicksand.ttf");
}

@font-face {
  font-family: Caveat;
  font-weight: 600;
  src: url("../fonts/Caveat.ttf");
}

@layer components {
  .button-web {
    @apply font-quicksand font-bold w-fit px-4 sm:px-10 py-2 text-lg sm:text-2xl bg-web-boton hover:bg-web-boton2 hover:text-white rounded-2xl sm:rounded-full mb-10 shadow-lg duration-500 ease-in-out hover:resize hover:ring-2 ring-offset-4 hover:scale-105 ring-web-boton;
  }

  .web-out-of-focus {
    @apply fixed left-0 top-0 w-screen h-screen bg-black opacity-40 z-10;
  }

  .web-in-focus {
    @apply fixed bg-transparent left-0 top-0 w-screen h-screen duration-1000 -z-10;
  }

  .menu-open {
    @apply fixed right-0 top-0 w-[300px] h-screen flex flex-col border-gray-700 shadow-2xl bg-web-fondo dark:bg-web-formBgDarkMode duration-500 z-20;
  }

  .menu-closed {
    @apply fixed right-[-100%] top-0 w-[300px] h-screen flex flex-col duration-500 z-20;
  }

  .nav-visible {
    @apply fixed duration-300;
  }

  .nav-not-visible {
    @apply fixed translate-y-[-100%] duration-300;
  }
}
