@import "https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto+Slab:wght@100&display=swap";

* {
  font-family: "Dancing Script", cursive;
  font-family:
    "Roboto Slab",
    serif;
  font-weight: 700;
}

body {
  background-color: #444;
}

#container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 25px;
}

header {
  display: flex;
  justify-content: center;
  height: 90px;
  padding: 0 var(--lateral-margin);
  background-color: #5557;
  margin-bottom: 2%;
}

header > * {
  display: flex;
  height: 100%;
}

.section-title {
  max-width: fit-content;
  color: #ccc;
  font: 3rem "Cavalier Bold";
  background-color: #333;
  padding: 13px 10px 5px;
  border: 3px solid #222;
  border-radius: 5px;
}

.movie-info-container {
  width: 95%;
  margin: auto;
  /*margin-bottom: 25px;-*/

  border: 2px solid rgb(56 55 55);
  border-radius: 15px;
  background-color: #4e4e4e;
  color: white;
  box-shadow:
    inset 0 0 3em 3em rgb(5 0 0 / 26%),
    0 0 20px rgb(29 29 29 / 60.5%),
    1em 1em 10em rgb(255 255 255 / 29.9%);
  display: flex;
  flex-direction: column;
}

#container-select{
  display: flex;
  flex-direction: row;
}

hr {
  width: 90%;
}

#genre-filter {
  align-self: flex-end;
  margin-bottom: 3%;
  margin-left: 65%;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  background-color: #333;
  border: 3px solid #222;
  border-radius: 5px;
  color: white;
}
#genre-filter:hover{
  border-radius: 10px;
  text-align: center;
  background-color: #727272;
  border: 3px solid #535353;
  border-radius: 5px;
  color: white;
}

.additional-info {
  align-self: flex-end;
  width: 400px;
  height: max-content;
}

.sinopsis {
  width: 400px;
  align-self: flex-end;
  margin-top: 10%;
  line-height: 230%;
}

#info-body {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  align-self:center;
  width: 40%;
}

.small-container {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  align-self: center;
}

#movie-poster {
  margin-top: 3%;
  width: 35%;
  border-radius: 10px 10px 0 0;

}

#movie-title {
  text-align: center;
  margin: 0;
}

#movie-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 25px;
}

.movie {
  box-shadow: 0 0 22px 1px rgb(0 0 0 / 10%);
  background-color: #232323;
  border-radius: 10px;
}

.movie:hover {
  box-shadow: 0 0 22px 3px rgb(0 0 0 / 25%);
  transition: 0.25s;
  transform: scale(1.1);
  cursor: pointer;
}

.poster {
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 10px 10px 0 0;
}

.movie-footer {
  margin-top: 10px;
  color:white;
  margin-bottom: 2%;
}

.title {
  text-align: center;
  font-size: large;
  margin-top: 10%;
}

#show-more {
  margin-top: 3%;
}

#show-more:hover {
  cursor: pointer;
}

.go-back {
  font-size: x-large;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 7px;
  width:fit-content;
  padding: 0.5%;
  box-shadow:
    inset 0 0 3em 3em rgb(5 0 0 / 26%),
    0 0 20px rgb(29 29 29 / 60.5%),
    1em 1em 10em rgb(255 255 255 / 29.9%);
    margin-left: 3%;
    margin-top: 3%;
}

@media (min-width: 900px) {
  #movie-poster{
    margin: 3%;
  }
}

@media (max-width: 899px) {
  .movie-info-container {
    max-width: 899px;
    flex-direction: column;
  }
  .small-container {
    flex-direction: column;
    margin: auto;
  }
  #movie-poster{
    align-self: center;
    width: 60%;
  }
  #info-body{
    text-align: center;
    margin: 4% auto;
    align-self: center;
  }
  .additional-info{
    align-self: center;
  }
  .sinopsis{
    align-self: center;
  }
  #movie-list,
  #series-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #genre-filter {
    margin-left: 48%;
    margin-bottom: 5.5%;
    font-size: large;
    width: fit-content;
  }
  .section-title{
    margin-left: 3%
  }
}

@media (max-width: 599px) {
  .movie-info-container {
    max-width: 599px;
    flex-direction: column;
  }
  .small-container {
    flex-direction: column;
    margin: auto;
  }
  #movie-poster{
    align-self: center;
    width: 60%;
  }
  #info-body{
    text-align: center;
    margin: 4% auto;
    align-self: center;
  }
  .additional-info{
    align-self: center;
  }
  .sinopsis{
    align-self: center;
  }
  #movie-list,
  #series-list {
    grid-template-columns: 1fr 1fr;
  }
  #genre-filter {
    margin-left: 25%;
    margin-bottom: 7%;
  }
}


/*
#container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 25px;
}

#movie-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 25px;  
}

.movie{
    box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.1);
    background-color: white;
    border-radius: 10px;
}

.movie:hover {
    box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.25);    
    transition: 0.25s;
    transform: scale(1.10);
    cursor: pointer;
}

.poster {
    width: 100%;
    display:block;
    margin:auto;
}

.movie-footer {
    margin-top: 10px;
}

.title {
    text-align: center;
    font-size: large;
}

#show-more {
    margin-top: 3%;
}

#show-more:hover {
    cursor: pointer;
}*/